
<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @tarefas.each do |tarefa| %>
  <% tudo = tarefa.nome + "    " + tarefa.descricao + "       " + tarefa.entrega.day.to_s + "/" + tarefa.entrega.month.to_s + "/" +  tarefa.entrega.year.to_s + " - " + tarefa.entrega.hour.to_s + ":" + tarefa.entrega.min.to_s %>
  <tr>
    <td><%= link_to tudo , :controller => 'entregas', :action => 'index', :tarefa_id => tarefa %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Tarefa', new_tarefa_path %>
