<%= form_for(@entrega) do |f| %>
  <% if @entrega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrega.errors.count, "error") %> prohibited this entrega from being saved:</h2>

      <ul>
      <% @entrega.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
