<h1>Listing entregas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entregas.each do |entrega| %>
  <tr>
    <td><%= link_to 'Show', entrega %></td>
    <td><%= link_to 'Edit', edit_entrega_path(entrega) %></td>
    <td><%= link_to 'Destroy', entrega, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrega', new_entrega_path %>
