<h4>Entregas</h4>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @entregas.each do |entrega| %>
  <tr>
    <td><a href="<%= entrega.url%>"><%= entrega.nome%></a></td>
    <td><%= link_to 'Excluir', entrega, method: :delete, data: { confirm: 'Deseja mesmo excluir esta entrega?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrega', new_entrega_path %>
